*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body
{
	height: 100%;	
}

.clear
{
	clear: both;
}
.center
{
	width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}

.header
{
	min-width: 1280px;
	width: 100%;
	height: 60px;	
	background-color: #212343;
}	

.header img
{
	margin: 15px;
}			

.container-banner
{
	min-width: 1280px;
	width: 100%;
	height: 557px;
	background-image: url('../img/header_bg.png');
	background-size: cover;
	background-position: center;
}

.container-banner >.center
{
	height: 100%;
}

.form
{
	padding: 10px;
	width: 400px;
	height: calc(100% + 30px);
	float: right;
	position: relative;
	top: -15px;
	border-width: 12px;
	border-color: rgba(120,120,120,0.5);
	border-style: solid;
	background-color: white;
	background-clip: padding-box;
	/*alterações feitas na borda para gerar
	o efeito de tranparencia*/
	/*background-origin tem o mesmo conceito
	só que para imagens*/
	
}

.form h2
{
	text-align: center;
	font-weight: normal;
	color: #999999;
	font-size: 21px;	
}

.input-container
{
	margin-top: 20px;
}

.input-container span
{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
}

.form p
{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	margin: 20px 0;
}

.input-container input[type=text]
{
	margin-top: 10px;
	width: 344px;
	height: 55px;
	border: 1px solid #ccc;
}

.form .input-submit-container
{
	text-align: center;

}

.form input[type=submit]
{
	margin-top: 30px;
	color: white;
	font-size: 25px;
	width: 280px;
	height: 56px;
	display: inline-block;
	background-color: #363A6D;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 5px solid #4A5097;
}

.form input[type=submit]:hover
{
	background-color: #323665;
}

.container-list
{
	padding: 30px;
	margin-top: 100px;
	float: left;
	width: 519px;
	height: 270px;
	background-color: rgba(35,35,67,0.7);
}

.container-list ul
{
	list-style-position: inside;
}

.container-list ul li
{
	margin-top: 25px;
	color: white;

}

.container-2
{
	min-width: 1280px;
	padding: 40px 0;
	background-color: #DDDDDD;
	text-align: center;
}

.container-2 h2
{
	font-weight: normal;
}

.container-2 p
{
	width: 698px;
	display: inline-block;
	text-align: justify;
	margin: 15px 0;
}

.arrow
{
	position: relative;
	top: 60px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../img/arrow.png');
	background-size: 100% 100%;
}

.section-1
{
	min-width: 1280px;
	padding: 90px 0;
}

.section-1 h2
{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section
{
	margin-top: 40px;
}

.container-section
{
	text-align: center;
}

.container-single
{
	float: left;
	width: 25%;
	padding: 30px;
}

.container-single p
{
	text-align: justify;
	padding: 10px 20px;
	display: inline-block;	
}

.container-single img
{
	width: 70px;
	

}

.footer
{
	/*clear:both; limpando o float*/
	border-top: 2px solid #888888;
	padding: 20px 0;
	text-align: center;
	color: #888
}

.footer p
{
	margin-top: 8px;
}